# Swift Package Manager
.build/
.swiftpm/

# Build cache
.cache/

# Xcode
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserdatad/
*.xcuserstate

# macOS
.DS_Store

# Editors
.vscode/

# Build artifacts
*.app
